*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}
:root{
    --primary: #ff9999;
    --secondary: #393939;
    --text: #292929;
    --border: #cccccc;
    --blue: #007bff;
    --red: #ff1234;
    --light: #f0f0f0;
}


@keyframes appear{
    from    { opacity: 0.5; transform: scale(0); } 
    to      { opacity: 1; transform: scale(100%); }
}