@media (max-width: 767px) {
    /* Game Area */
    .game__board{
        padding: 10px;
        width: 320px;
        height: 320px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .game__cell .o {
        border-width: 10px;
    }
    .game__cell .x:before{
        font-size: 55px;
    }
    
    /* Player Area */
    .game{
        padding: 20px 60px;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .player{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 24px;
        min-width: none;
        width: 100%;
        border-radius: 32px;
    }
    #player2{
        padding-left: 60px;
        align-self: flex-start;
    }
    #player1{
        padding-right: 60px;
        align-self: flex-end;
    }
    .player .player__img{
        width: 100px;
        height: 100px;
    }
    #player2 .player__img{
        left: 0;
        right: auto;
        top: 50%;
    }
    #player1.player{
        flex-direction: row-reverse;
    }
    #player1 .player__img{
        right: 0;
        left: auto;
        top: 50%;
        transform: translate(50%, -50%);
    }
    .player__info{
        margin: 0;
    }
    .player__level{
        font-size: 2.8rem;
        margin-bottom: 8px;
    }
    .player__score{
        margin: 8px 0 0;
        text-align: center;
    } 

    /* Gameover */
    .gameover .message__text{
        padding: 24px 4px;
        font-size: 1.8rem;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .game__board{
        padding: 15px;
        width: 390px;
        height: 390px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
    .game__cell .o {
        border-width: 13px;
    }
    .game__cell .x:before{
        font-size: 72px;
    }

    /* Player Area */
    .game{
        padding: 40px 80px;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .player{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 24px;
        min-width: 320px;
        width: calc(100% * 2 / 3);
        border-radius: 32px;
    }
    #player2{
        padding-left: 72px;
        align-self: flex-start;
    }
    #player1{
        padding-right: 72px;
        align-self: flex-end;
    }
    .player .player__img{
        width: 120px;
        height: 120px;
    }
    #player2 .player__img{
        left: 0;
        right: auto;
        top: 50%;
    }
    #player1.player{
        flex-direction: row-reverse;
    }
    #player1 .player__img{
        right: 0;
        left: auto;
        top: 50%;
        transform: translate(50%, -50%);
    }
    .player__info{
        margin: 0;
    }
    .player__level{
        font-size: 3.2rem;
        margin-bottom: 8px;
    }
    .player__score{
        margin: 8px 0 0;
        text-align: center;
    }    
    /* Gameover */
    .gameover .message__text{
        padding: 24px 4px;
        font-size: 2rem;
    }
}
@media (min-width: 1200px) {

}